@charset "utf-8";


#mainvis{
    background: rgb(62,43,129);
    background: linear-gradient(80deg, rgba(62,43,129,1) 0%, rgba(97,53,134,1) 50%, rgba(134,63,139,1) 100%);
}
#mainvis .ttl01 p,
#mainvis .ttl01 h3{
    color: #fff;
    text-align: center;
}
#smenu, #cfooter {
    font: normal normal normal 1.13em/1.5em "Noto Sans", sans-serif;
}

#footer {
    font: normal normal normal 0.88em/1.19em "Noto Sans", sans-serif;
}

#mf1 .ttl01,
#mf2 .ttl01,
#mf3 .ttl01{
    border-bottom: 1px solid #D1D1D1;
}

#mf2 .ttl01 h3,
#mf3 .ttl01 h3{
    margin-bottom: 15px;
    font-weight: 700;
    color: #3E2B81;
    letter-spacing: 0px;
}
#mf1 .ttl01 p,
#mf2 .ttl01 p,
#mf3 .ttl01 p{
    color: #000;
    font-weight: 400;
}


#mf1{
    padding: 100px 0;
}
#mf1 .ttl01 h3{
    margin-bottom: 35px;
    font: bold "Meiryo", sans-serif;
    color: #3E2B81;
    letter-spacing: 0px;
}
#mf1 .content{
    display: flex;
    flex-wrap: wrap;
}
#mf1 .content .left{
    width: 72%;
    padding-right: 55px;
}
#mf1 .content .left .message{
    padding-top: 18px;
}
#mf1 .content .left .message p{
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0px;
}
#mf1 .content .left .message span{
    color: #3E2B81;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 2.688em;
}

#mf1 .content .left .message2{
    padding-top: 3em;
}
#mf1 .content .right{
    width: 28%;
}
#mf1 .content .right img{
    width: 100%;
}

#mf2{
    position: relative;
    padding: 90px 0;
}
#mf2::before{
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #F7F7F7;
}
#mf2 .flex{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#mf2 .flex .row{
    width: 48%;
}
#mf2 .flex .row img{
    width: 100%;
    border-radius: 15px;
}
#mf2 .flex .row .content{
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 5px;
}
#mf2 .flex .row .content h4{
    font-weight: 700;
    color: #3E2B81;
    line-height: 2.688em;
    margin-top: 22px;
    margin-bottom: 25px;
    letter-spacing: 0px;
}
#mf2 .flex .row .content .desc{
    font-size: 0.875em;
    line-height: 2.688em;
    letter-spacing: 0px;
}
#mf2 .flex .row hr{
    opacity: 0;
    padding: 40px 0;
}

#mf3{
    padding: 60px 0 130px;
}
#mf3 .content{
    max-width: 750px;
    margin: 0 auto;
}
#mf3 .content .ttl01{
    border-bottom: none;
    margin-bottom: 70px;
}
#mf3 ul{
    width: 100%;
    counter-reset: trCounter;
}
#mf3 li:first-child{
    border-top: 1px solid #D1D1D1;
}
#mf3 li{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #D1D1D1;
    padding: 55px 0;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2em;
}
#mf3 li::before{
    counter-increment: trCounter;
    content: counter(trCounter, decimal-leading-zero);
    font-family: "Meiryo", sans-serif;
    font-weight: bold;
    color: #3E2B81;
    position: absolute;
    top: -16px;
    left: 0;
    background-color: #fff;
    padding: 0 5px;
}
#mf3 li .left{
    width: 100%;
    font-size: 1.375em;
    font-weight: 700;
    color: #3E2B81;
    padding: 0 0 1em 0;
}
#mf3 li .right{
    width: 100%;
    font-size: 0.9em;
}

#pankuzu ul{
    font-size: 1em;
}


@media only screen and (max-width: 1024px) {
    #mf1{
        padding: 15vw 5vw;
    }
    .ttl01 h3{
        margin-bottom: 2vw;
    }
    #mf1 .content .left{
        width: 100%;
        padding-right: 0;
        padding-bottom: 5vw;
    }
    #mf1 .content .left .message{
        padding-top: 5vw;
    }
    #mf1 .content .left .message p{
        font-size: 0.9em;
        line-height: 2em;
    }
    #mf1 .content .right{
        width: 100%;
    }


    #mf2{
        padding: 15vw 5vw;
    }
    #mf2::before{
        height: 70%;
    }
    #mf2 .flex .row{
        width: 100%;
    }
    #mf2 .flex .row:first-child{
        margin-bottom: 15vw;
    }
    #mf2 .flex .row:last-child{
        display: flex;
        flex-direction: column-reverse;
    }
    #mf2 .flex .row .content{
        padding: 7vw;
    }
    #mf2 .flex .row hr{
        padding: 0;
    }

    #mf3{
        padding: 15vw 5vw;
    }
    #mf3 .content{
        max-width: 100%;
    }
    #mf3 .content .ttl01{
        margin-bottom: 15vw;
    }
    #mf3 li{
        padding: 10vw 0;
    }
    #mf3 li::before{
        top: -3.8vw;
    }
    #mf3 li .left{
        width: 100%;
        padding: 0;
        margin-bottom: 1vw;
    }
    #mf3 li .right{
        width: 100%;
    }
}