@charset "utf-8";


#mainvis{
    background: rgb(62,43,129);
    background: linear-gradient(80deg, rgba(62,43,129,1) 0%, rgba(97,53,134,1) 50%, rgba(134,63,139,1) 100%);
}
#mainvis .ttl01 p,
#mainvis .ttl01 h3{
    color: #fff;
    text-align: center;
    font: 400 40px / 53px 'Meiryo', sans-serif;
}

#mf1 .content .right .ttl01 h3,
#mf1 .content_reverse .right .ttl01 h3 {
    color: #3E2B81;
    font-weight: 900;
    font-size: 1.88em;
}

.ttl02 h4 {
    font-weight: 900;
    font: normal normal bold 30px/81px "Noto Sans", sans-serif;
    letter-spacing: 0;
}

.more {
    padding-top: 1em;
    padding-bottom: 0.5em;
    width: fit-content;
    border-bottom: 1px solid #3E2B81;   
}

.details{
    display: flex;
    flex-direction: column;
    flex-basis: 50%; 
    width: 50%;
}
.message p{
    font-size: 0.8em;
    font-family: "Noto Sans", sans-serif;
    letter-spacing: 0;
    line-height: 25px;
    font-weight: 500;
}




#mf1{
    padding: 3em 0;
}
#mf1 .content .left,
#mf1 .content_reverse .left{
    width: 50%;
    flex-basis: 50%;
}
#mf1 .content .right,
#mf1 .content_reverse .right{
    width: 50%;
    flex-basis: 50%;
}
#mf1 .content .left img,
#mf1 .content_reverse .left img{
    width: 100%;
    height: auto;
}
#mf1 .content{
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5em;
}
#mf1 .content_reverse{
    max-width: 1000px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 5em;
}
#mf1 .content .right{
    padding: 2em 0em 2em 2em;
}
#mf1 .content_reverse .right{
    padding: 2em 2em 2em 0em;
}


@media only screen and (max-width: 1024px) {

    #mf1 .content,#mf1 .content_reverse{
        flex-direction: column;
        align-items: center;
        padding-bottom: 1em;
    }
    #mf1 .content .left,
    #mf1 .content_reverse .left{
        width: 100%;
    }
    #mf1 .content .right,
    #mf1 .content_reverse .right{
        width: 100%;
        padding: 1.5em 1em;
    }
    .more{
        padding: 1em 0 0.5em 0;
    }

    .message{
        font-size: 0.8em;
    }
    #mf1{
        padding: 15vw 5vw;
    }

    .ttl01 h3{
        font-size: 2em;
        letter-spacing: 0;
    }
    .ttl02 h4{
    line-height: 1em;
    }
    .message p{
        font-size: 0.8em;
    }
    
}

